/* src/App.css */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #b3c7f7; /* Solid background color */
  display: flex;
  justify-content: center;
  overflow: auto; /* Allow scrolling */
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto; /* Allow scrolling if needed */
}

.container1 {
  background-color: rgba(240, 248, 255, 0.375);
  padding: 3vh 0;
  margin: 8vh 6vw;
  border-radius: 20px;
  /* Ensure the container height can exceed viewport if needed */
  min-height: 100vh; /* Ensure it takes up at least the full viewport height */
}

.background {
  width: 100%;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100vw;
  height: 7vh;
  background-color: #799dea;
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  cursor: pointer;
}

.header-bar a {
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 20px; 
}

.header {
  color: rgb(0, 0, 0);
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: auto;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.slogan {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  margin-bottom: 6vh;
}
.slideshow{
  width: 70vw;
  height: 50vh;
}
.transcript-button {
  all: unset;
  padding: 15px 25px;
  font-size: 1em;
  cursor: pointer;
  background-color: #054fb9;
  border-radius: 15px;
  color: white;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 3vh;
  position: relative; 
  z-index: 10;
}

/* Optional: Adjust `.header-bar` if it might be overlapping */
.header-bar {
  z-index: 5; 
}

.transcript-button:hover {
  background-color: #0461cf;
  transition: ease-in-out 0.3s;
}

.cube-container {
  position: relative;
  width: 100%;
  height: 100%;
}


/*slide show styling*/
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #0f0c29;
}

.slideshow {
  margin: auto;
  width: 60vw;
  aspect-ratio: calc(16 / 9);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

button {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  background-color: #0f0c29;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

button:hover {
  background-color: #24243e;
}

.prev {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  top: 50%;
  right: 2vw;
  transform: translateY(-50%);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 2vh;
}