.game-header{  
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    top:0;
    position: relative;
}

.user-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    left:0;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 2vw;
}
.input{
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4vh;
    display: flex;
    top:0;
    padding: 10px 25px;
}
.scoring{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
.scoring p{
    margin: 0px 12vw;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 90vw;
    background-color: black;
    margin: 0px 4vw 10px 4vw;
}