body {
    background-color: #b3c7f7;
}

.practice-header {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    top: 0;
    position: relative;
}

.correct {
    color: lime;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #8babf1;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.monkey {
    width: 20vw;
    height: auto;
    margin-right: 5vw;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    border: 1px solid white;
    padding: 1vh 2vw;
    top: 0;
    margin: 2vw;
    border-radius: 15px;
}

.paragraph {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 5vh;
}

.output {
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.output-container {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 38vw;
    height: 30vh;
    overflow-y: auto; 
    padding-right: 1vw; 
}

.output-text {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap; 
}

.text {
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    top: 0;
    position: relative;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    width: 30vw;
    height: 40vh;
    border: solid 1px white;
}

#startButton {
    all: unset;
    padding: 15px 25px;
    font-size: 1em;
    cursor: pointer;
    background-color: #90d8b2;
    border-radius: 20px;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3vh;
    position: relative;
    z-index: 10;
    width: 7vw;
    text-align: center;
    left:50%;
    transform: translateX(-50%);}

#startButton:hover {
    background-color: #00bf7d;
    transition: ease-in-out 0.3s;
}
#wpm{
    font-size: 1em;
    font-weight: 700;
}
#timer{
    font-size: 1em;
    font-weight: 700;
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  